.tabla-ContaBalance {
    
    .table-modelG {
    
        .mat-mdc-cell.mat-column-descripcion, .mat-mdc-header-cell.mat-column-descripcion{
            top: auto !important;
            right: -1px !important;
            z-index: 101 !important;
        }
    
        .mat-mdc-cell.mat-column-final, .mat-mdc-header-cell.mat-column-final {
            top: auto !important;
            left: -1px !important;
            z-index: 101 !important;
        }
  
    } 
  
}

.tabla-ContaIngresos {
    
    .table-modelG {
    
        .mat-mdc-cell.mat-column-descripcion, .mat-mdc-header-cell.mat-column-descripcion{
            top: auto !important;
            right: -1px !important;
            z-index: 101 !important;
        }
    
        .mat-mdc-cell.mat-column-final, .mat-mdc-header-cell.mat-column-final {
            top: auto !important;
            left: -1px !important;
            z-index: 101 !important;
        }
  
    } 
  
}

.tabla-ContaSaldos {
    
    .table-modelG {
    
        .mat-mdc-cell.mat-column-descripcion, .mat-mdc-header-cell.mat-column-descripcion{
            top: auto !important;
            right: -1px !important;
            z-index: 101 !important;
        }
    
        .mat-mdc-cell.mat-column-final, .mat-mdc-header-cell.mat-column-final {
            top: auto !important;
            left: -1px !important;
            z-index: 101 !important;
        }
  
    } 
  
}
