.opaque-navbar {
  opacity: 1;
}
  
.transparent-navbar {
  opacity: 0.95;
}

.navbar {
  backdrop-filter: blur(10px);
  margin-bottom: 10px;
  background-color: rgb(58 79 123);
  opacity: 95%;
  transition: opacity 0.3s ease;
  border: 0 !important;

  //para mantener la barra fija: 
  position: fixed;
  width: 100%;
  z-index: 105;

  .navbar-brand{
      margin-right: 40px;
  }

  .custom-margin{
      margin-left: -20px;
      margin-right: 20px;
  }
  
}

.content-wrapper{
  margin-top: 7rem;
}