.background-img {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/fondo1.jpg');
    background-color: #ebedeb;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.card{
    border-radius: 15px;
    height: 50%;
    justify-content: center;
    border: none;
    background-color: rgb(61 168 135 / 50%);
    backdrop-filter: blur(7px);
    &.show {
        opacity: 1.5;
    }

    .nombre-empresa{
        font-weight: bold;
        color: white;
    }
}

img{
    border-radius: 0%;
    width: 50%;
}

.form-control{
    border-radius: 10px 0 0 10px;
    border: transparent;
}

.input-group-text{
    border: transparent;
    border-radius: 0 10px 10px 0;
    background-color: white;
    height: 100%;
}

.btn-primary{
    background-color: rgba(58, 79, 123, 1);
    border: none;
    font-weight: bold;
    &:hover{
        background-color: rgb(224, 239, 243);
        color: rgba(58, 79, 123, 1);
    }
}

.btn-light{
    border: transparent;
    border-radius: 0 10px 10px 0 !important;
    
}