<aside class="app">
    <aside class="sidebar" [class.active]="menuVisible">
        <header class="text-center">
          <div class="col-10 w-100">
            <img src="assets/img/logoDB.png" alt="">
          </div>
          
          <!--<b>HUMAN DIAGNOSTIC PATHOLOGY</b>-->
        </header>
      <nav class="sidebar-nav">
   
        <ul>
          <li>
            <a [routerLink]="['/home/calendario']"><i class="far fa-calendar-alt"></i><span>Calendario</span></a> 
            <!--<ul class="nav-flyout">
              <li>
                <a href="#">Opcion1</a>
              </li>
              <li>
                <a href="#">Opcion2</a>
              </li>
              <li>
                <a href="#">Opcion3</a>
              </li>
            </ul>-->
          </li>
          <li>
            <a [routerLink]="['/home/ordenes']"><i class="fa-solid fa-folder-tree"></i> <span class="">Ordenes</span></a>
          </li>
          <li>
            <a [routerLink]="['/home/configuracion']"><i class="fa-solid fa-gears"></i> <span class="">Configuracion</span></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span class="">Salir</span></a>
          </li>
        </ul>
      </nav>
    </aside>
  </aside>
