<aside class="app">
    <aside class="sidebar" [class.active]="menuVisible">
        <header class="text-center">
          <div class="col-10 w-100">
            <img src="assets/img/logoDB.png" alt="">
          </div>
        </header>
      <nav class="sidebar-nav">
   
        <ul>
          <li>
            <a [routerLink]="['/home/ordenes']"><i class="fas fa-plane-departure"></i><span class="">Dashboard</span></a>
          </li>
          <li>
            <a [routerLink]="['/home/calendario']"><i class="far fa-calendar-alt"></i><span>Calendario de Viajes</span></a> 
            <!--<ul class="nav-flyout">
              <li>
                <a href="#">Opcion1</a>
              </li>
              <li>
                <a href="#">Opcion2</a>
              </li>
              <li>
                <a href="#">Opcion3</a>
              </li>
            </ul>-->
          </li>
          <li>
            <a [routerLink]="['/home/experiencias']"><i class="far fa-star"></i><span class="">Experiencias</span></a>
          </li>
          <li>
            <a [routerLink]="['/home/clientes']"><i class="fas fa-users"></i><span class="">Clientes</span></a>
          </li>
          <li>
            <a [routerLink]="['/home/contabilidad']"><i class="fas fa-book"></i><span class="">Contabilidad</span></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span class="">Salir</span></a>
          </li>
        </ul>
      </nav>
    </aside>
</aside>
