.card{
    border-radius: 15px;
    height: 50%;
    justify-content: center;
    border: none;
    background-color: rgb(40 82 96 / 50%);
    //backdrop-filter: blur(7px);
    opacity: 1.5;
    
    .nombre-empresa{
        font-weight: bold;
        color: white;
    }
}

.btn {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  background-color: rgba(40, 82, 96, 1);
  border: none;
  font-weight: bold;
  &:hover{
      background-color: rgb(224, 239, 243);
      color: rgba(40, 82, 96, 1);
  }
}

img{
  width: 50%;
}