<section class="section">
    <div class="section-header text-primary">
      <div class="row">
        <div class="col-7">
          <h1 class="section-title">
            {{ title | uppercase }}
          </h1>
          <xng-breadcrumb></xng-breadcrumb>
        </div>
        <div class="col-5 align-content-center">
  
          <div class="row text-end">
            <div class="col-12">
              <button
                class="btn btn-primary btn-primary-custom ladda-button"
                [ladda]="loadDepartamento" data-style="slide-down"
                [disabled]="isLoading"
                (click)="open()"
              >
                Crear  <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="section-body animated fadeInRight">

      <div class="col-12 p-0">
      
        <div class="card shadowgreen">
          
          <div class="card-body modelo-tabla tabla-Experiencias">
  
            <div class="overflow-auto">
              
              <table class="table-modelG" mat-table matSort [dataSource]="dataSource">
                
                <ng-container matColumnDef="nombre" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.nombre }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="identificacion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.identificacion }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.email }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="pasajeros">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>No. Pasajeros</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.email }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="numero">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>No. Viajes</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.email }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="accion" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef>Detalle</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    <div class="d-inline-block">
                      <button class="btn btn-outline-primary m-2" tooltip="Ver Viajes" data-bs-toggle="tooltip" (click)="ir(1);">
                        <i class="far fa-calendar-alt"></i>
                      </button>
                      <button class="btn btn-outline-primary m-2" tooltip="Ver Documento" data-bs-toggle="tooltip">
                        <i class="fas fa-file-pdf"></i>
                      </button>
                    </div>
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="noEncontro">
                  <td class="px-1" mat-footer-cell *matFooterCellDef [attr.colspan]="6">
                      <div class="w-100 text-center">
                          <span>NO SE ENCONTRARON RESULTADOS...</span>
                      </div>
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr [hidden]="(dataSource.data!.length || 0) > 0 || isLoading" mat-footer-row *matFooterRowDef="['noEncontro']"></tr>
              </table>
              
            </div>
            
            <div *ngIf="isLoading" class="mb-3">
              <mat-progress-bar
                color="primary"
                mode="indeterminate"
              ></mat-progress-bar>
            </div>
            <div>
              <mat-paginator
                [pageSizeOptions]="[10, 20, 30]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
    
          </div>
          
        </div>
      </div>

    </div>
</section>

<ng-template #mdlExperiencia>
  <div class="modal-header p-0">
    <div class="row">
      <div class="col-2 text-center align-content-center">
        <img class="img-modal" src="assets/img/ave.png" alt="">
      </div>
      <div class="col-8">
        <h4 class="modal-title pull-left" style="font-size: 14px">
          <span>Agrega Experiencia</span>
        </h4>
      </div>
      <div class="col-2 text-center align-content-center">
        <button
          style="font-size: 20px"
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalRef.hide()"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="card">
      <form [formGroup]="formExperiencia" class="row justify-content-center">

        <div class="col-12 pb-3">
          <div class="row text-center align-items-center ">
            <label class="col-sm-3 text-justify">Nombre:</label>
            <div class="col-sm-9">
              <input type="text"
              class="form-control" formControlName="nombre" placeholder="Ingrese Nombre de la Experiencia">
            </div>
          </div>
        </div>

        <div class="col-12 pb-3">
          <div class="row text-center align-items-center ">
            <label class="col-sm-3 text-justify">Costo:</label>
            <div class="col-sm-9">
              <input type="text" onlyNumbers mask="separator.2" thousandSeparator=","
              class="form-control" formControlName="costo" placeholder="0.00">
            </div>
          </div>
        </div>

        <div class="col-12 pb-3">
          <div class="row text-center align-items-center ">
            <label class="col-sm-3 text-justify">Archivos:</label>
            <div class="col-sm-9">
              <input 
                formControlName="file" #file 
                (change)="processFile(file)" type="file" accept=".jpeg, .jpg, .png, .pdf, .xls, .xlsx" 
                class="form-control" id="archivo" placeholder="col-form-label"
                [ngClass]="{'is-valid': formExperiencia.get('url')!.valid, 'is-invalid': formExperiencia.get('url')!.invalid}"
              >
              <span *ngIf="isSavingFile" class="input-group-text" id="basic-addon1"><i class="fas fa-spinner fa-pulse"></i></span>
              <div class="invalid-feedback">
                  Debe ingresar un <b>Archivo válido.</b>.
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 pb-5">
          <div class="row text-center align-items-center ">
            <label class="col-sm-3 text-justify">Estado:</label>
            <div class="col-sm-9" style="text-align: justify !important;">
              <mat-radio-group color="primary" formControlName="estado">
                <mat-radio-button [value]="true" class="me-4"
                  >Activo</mat-radio-button>
                <mat-radio-button [value]="false"
                  >Inactivo</mat-radio-button
                > </mat-radio-group>
              <br />
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</ng-template>
