<section class="section">
    <div class="section-header text-primary">
      <div class="row">
        <div class="col-7">
          <h1 class="section-title">
            {{ title | uppercase }}
          </h1>
          <xng-breadcrumb></xng-breadcrumb>
        </div>
        <div class="col-5 align-content-center">
  
          <div class="row text-end">
            <div class="col-12">
              <button
                class="btn btn-primary btn-primary-custom ladda-button"
                [ladda]="loadDepartamento" data-style="slide-down"
                [disabled]="isLoading"
                (click)="open()"
              >
                Crear  <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  
    <div class="section-body animated fadeInRight">

      <div class="col-12 p-0">
      
        <div class="card shadowgreen">
          
          <div class="card-body modelo-tabla tabla-Calendario">
  
            <div class="overflow-auto">
              
              <table class="table-modelG" mat-table matSort [dataSource]="dataSource">
                
                <ng-container matColumnDef="viaje" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Experiencia</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.viaje }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de viaje</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.fecha }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.estado }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="valor">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor x Persona</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.valor }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="accion" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef>Detalle</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    <button class="btn btn-outline-primary" data-bs-toggle="tooltip" (click)="ir(1)">
                      <animated-icons
                        src="assets/animatedIcons/boat.json"
                        trigger="loop-on-hover"
                        height="fit-content"
                        width="fit-content"
                      ></animated-icons>
                    </button>
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="noEncontro">
                  <td class="px-1" mat-footer-cell *matFooterCellDef [attr.colspan]="5">
                      <div class="w-100 text-center">
                          <span>NO SE ENCONTRARON RESULTADOS...</span>
                      </div>
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr [hidden]="(dataSource.data!.length || 0) > 0 || isLoading" mat-footer-row *matFooterRowDef="['noEncontro']"></tr>
              </table>
              
            </div>
            
            <div *ngIf="isLoading" class="mb-3">
              <mat-progress-bar
                color="primary"
                mode="indeterminate"
              ></mat-progress-bar>
            </div>
            <div>
              <mat-paginator
                [pageSizeOptions]="[5, 6, 7, 30]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
    
          </div>
          
        </div>
      </div>

    </div>
    
</section>

<ng-template #mdlCalendario>
  <div class="modal-header p-0">
    <div class="row">
      <div class="col-2 text-center align-content-center">
        <img class="img-modal" src="assets/img/ave.png" alt="">
      </div>
      <div class="col-8">
        <h4 class="modal-title pull-left" style="font-size: 14px">
          <span>Crear Viaje</span>
        </h4>
      </div>
      <div class="col-2 text-center align-content-center">
        <button
          style="font-size: 20px"
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalRef.hide()"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="card">
      <form [formGroup]="formCalendario" class="row justify-content-center">

        <div class="col-12 pb-3">
          <div class="row text-center align-items-center ">
            <label class="col-sm-3 text-justify">Experiencia:</label>
            <div class="col-sm-9">
              <select
                formControlName="viaje"
                class="form-select form-select-sm"
              >
                <option value="" selected>TODOS</option>
                <option value="1">nombre</option>
              </select>
              <div class="invalid-feedback">
                Debe ingresar <b>Viaje</b>.
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 pb-3">
          <div class="row text-center align-items-center ">
            <label class="col-sm-3 text-justify">Fecha:</label>
            <div class="col-sm-9">
              <div class="input-group date">
                <input
                    type="text"
                    placeholder="Rango de Fecha"
                    #dp="bsDaterangepicker"
                    class="form-control"
                    formControlName="fecha"
                    bsDaterangepicker
                    [bsConfig]="{
                    isAnimated: true,
                    containerClass: 'theme-dark-blue'
                    }"
                />
                <div class="input-group-append">
                    <span
                    [attr.aria-expanded]="dp.isOpen"
                    (click)="dp.toggle()"
                    class="input-group-text"
                    ><i class="fa fa-calendar"></i
                    ></span>
                </div>
              </div>
              <div class="invalid-feedback">
                Debe ingresar <b>Rango de fecha</b>.
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 pb-3">
          <div class="row text-center align-items-center ">
            <label class="col-sm-3 text-justify">Estado:</label>
            <div class="col-sm-9">
              <select
                formControlName="viaje"
                class="form-select form-select-sm"
              >
                <option value="" selected>TODOS</option>
                <option value="1">Estado 1</option>
                <option value="1">Estado 2</option>
              </select>
              <div class="invalid-feedback">
                Debe ingresar <b>Viaje</b>.
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 pb-3">
          <div class="row text-center align-items-center ">
            <label class="col-sm-3 text-justify">Valor:</label>
            <div class="col-sm-9">
              <input type="text" onlyNumbers mask="separator.2" thousandSeparator=","
              class="form-control" formControlName="valor" placeholder="0.00">
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</ng-template>