.mat-tab-group-main {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
  
    > .mat-mdc-tab-header {
      border-radius: 15px !important;
      margin-left: 40px !important;
      margin-right: 40px !important;
      background-color: white !important;
      box-shadow: 0 0.5rem 1rem rgba(61, 168, 136, 0.2) !important;
      border: 2px solid rgba(61, 168, 136, 0.2) !important;
  
      .mat-mdc-tab-list .mat-mdc-tab-labels {

        width: 100%;

        .mdc-tab.mat-mdc-tab.mdc-tab--active.mdc-tab-indicator--active {
            background-color: #3da88875 !important;
            font-weight: bold !important;
            border: none !important;
            border-radius: 0 !important;
        }

        .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
            color: white !important;
        }
      }

    }
  
    .mat-tab-group-child {
  
      >  .mat-mdc-tab-header {
        background-color: white !important;
        border: 2px solid #e5e8f4 !important;
        border-radius: 10px !important;
      }
  
      .mat-mdc-tab-list .mat-mdc-tab-labels {

        width: 100% !important;

        .mdc-tab.mat-mdc-tab.mdc-tab--active.mdc-tab-indicator--active {
            background-color: white !important;
            border: none !important;
            border-radius: 0 !important;
        }
        
        .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
            color: rgba(58, 79, 123) !important;
        }

      }
    }

}

.preferido-chip {
  background-color: #3DA888 !important; /* Color para el chip preferido */
  color: white !important;

  mat-icon{
    color: white !important;
  }
  
  .mat-mdc-chip-action-label{
    color: white !important;
  }
  
}