<section class="section">
    <div class="section-header text-primary">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="section-title">
            {{ title | uppercase }}
          </h1>
          <xng-breadcrumb></xng-breadcrumb>
        </div>
      </div>
    </div>

    <div class="section-body animated fadeInRight">

      <div class="col-12 p-0">
      
        <div class="card shadowgreen">
          <div class="card-body">
            <div class="row text-end">
              <div class="col-12">
                <button
                  class="btn btn-primary btn-primary-custom ladda-button"
                  [ladda]="loadDepartamento" data-style="slide-down"
                  [disabled]="isLoading"
                  (click)="generarPDF()"
                >
                  Crear  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 p-0">
      
        <div class="card shadowgreen">
          
          <div class="card-body modelo-tabla">
  
            <div class="overflow-auto">
              
              <table class="table-modelG" mat-table matSort [dataSource]="dataSource">
                
                <ng-container matColumnDef="nombre" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.nombre }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="identificacion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Identidad</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.identificacion }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="telefono">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.telefono }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo electrónico</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.email }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="nacimiento">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Cumpleaños</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.nacimiento }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="ciudad">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    {{ element.ciudad }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="accion" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef>Experiencias</th>
                  <td mat-cell class="fila" *matCellDef="let element">
                    <button class="btn btn-outline-primary" (click)="ir(1);" tooltip="Ver Experiencias" data-bs-toggle="tooltip">
                      <i class="far fa-star"></i>
                    </button>
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="noEncontro">
                  <td class="px-1" mat-footer-cell *matFooterCellDef [attr.colspan]="7">
                      <div class="w-100 text-center">
                          <span>NO SE ENCONTRARON RESULTADOS...</span>
                      </div>
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr [hidden]="(dataSource.data!.length || 0) > 0 || isLoading" mat-footer-row *matFooterRowDef="['noEncontro']"></tr>
              </table>
              
            </div>
            
            <div *ngIf="isLoading" class="mb-3">
              <mat-progress-bar
                color="primary"
                mode="indeterminate"
              ></mat-progress-bar>
            </div>
            <div>
              <mat-paginator
                [pageSizeOptions]="[10, 20, 30]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
    
          </div>
          
        </div>
      </div>

    </div>
</section>

<ng-template #mdlEjemplo>
  <div class="modal-header p-0">
    <div class="row">
      <div class="col-2 text-center align-content-center">
        <img class="img-modal" src="assets/img/ave.png" alt="">
      </div>
      <div class="col-8">
        <h4 class="modal-title pull-left" style="font-size: 14px">
          <span>Ejemplo</span>
        </h4>
      </div>
      <div class="col-2 text-center align-content-center">
        <button
          style="font-size: 20px"
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalRef.hide()"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="card">
      <form [formGroup]="formClientes" class="row justify-content-center">

        <div class="col-12 pb-3">
          <div class="row text-center align-items-center ">
            <label class="col-sm-3 text-justify">Viaje:</label>
            <div class="col-sm-9">
              <select
                formControlName="viaje"
                class="form-select form-select-sm"
              >
                <option value="" selected>TODOS</option>
                <option value="1">nombre</option>
              </select>
              <div class="invalid-feedback">
                Debe ingresar <b>Viaje</b>.
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 pb-3">
          <div class="row text-center align-items-center ">
            <label class="col-sm-3 text-justify">Fecha:</label>
            <div class="col-sm-9">
              <div class="input-group date">
                <input
                    type="text"
                    placeholder="Rango de Fecha"
                    #dp="bsDaterangepicker"
                    class="form-control"
                    formControlName="fecha"
                    bsDaterangepicker
                    [bsConfig]="{
                    isAnimated: true,
                    containerClass: 'theme-dark-blue'
                    }"
                />
                <div class="input-group-append">
                    <span
                    [attr.aria-expanded]="dp.isOpen"
                    (click)="dp.toggle()"
                    class="input-group-text"
                    ><i class="fa fa-calendar"></i
                    ></span>
                </div>
              </div>
              <div class="invalid-feedback">
                Debe ingresar <b>Rango de fecha</b>.
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</ng-template>