/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~ladda/dist/ladda-themeless.min.css';

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

@include mat.all-component-themes($theme);

$border-radius: 15px;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

* {
  font-family: 'Roboto', sans-serif;
}

.section-title{
  color: rgb(58 79 123);
  font-weight: bold !important; 
  font-size: 1.5rem !important;
}

xng-breadcrumb{
  color: #3DA888;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
  &:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  &:active {
    background-color: #999999;
  }
}

::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
  &:hover {
    background: #d4d4d4;
  }
  &:active {
    background: #d4d4d4;
  }
}

.img-modal{
  width: 50%;
}

.modal-supremo.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    border: none;
    .modal-content {
      border-radius: 20px 20px 20px 20px;
      box-shadow: 0 0 1rem 10px rgb(58 79 123 / 20%);
      border: none;
      .modal-header {
        background-color: #3DA888;
        color: white;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        h4{
          margin: 10px 0px 10px;
        }
        .close {
          color: white;
          cursor: pointer;
          border: none;
          font-weight: bold;
          background: transparent;
          &:hover{
              background: transparent;
              color: rgba(40, 82, 96, 1);
          }
        }

      }
      .modal-body {
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
        .card{
          border: none;
          box-shadow: none;
        }
      }
    }
}

.modal-backdrop {
  //background-color: #B9B9B9;
  background-color: rgb(0, 0, 0, -0.5);
  backdrop-filter: blur(7px);
  &.show {
    opacity: 1.5;
  }
}

.card {
  margin-top: 1rem;
  border: none;
  border-radius: 10px;
}

.shadowgreen {
  box-shadow: 0 0 1rem 10px rgba(61, 168, 136, 0.2) !important;

  .card-header{
    background: white;
    border-radius: 15px 15px 0px 0px;
  }
}

.shadowblue {
  box-shadow: 0 0 1rem 10px rgb(58 79 123 / 20%) !important;
}

.shadowblue-matTab {
  margin-top: 0 !important;
  border-radius: 0 15px 15px 15px;
  border: 2px solid rgb(58 79 123 / 20%);
  box-shadow: 0 .5rem 1rem rgb(58 79 123 / 20%) !important;

  .card-header{
    background: white;
    border-radius: 15px 15px 0px 0px;
  }
}

.shadowContador {
  margin-top: 0 !important;
  border-radius: 15px;
  border: 2px solid rgb(58 79 123 / 20%);
  width: fit-content;
}

.custom-ancho{
  width: fit-content;
}

.shadowblue-matTabAnidado {
  margin-top: 1rem !important;
  border-radius: 15px 15px 15px 15px;
  border: 2px solid rgb(58 79 123 / 20%);
  box-shadow: 0 .5rem 1rem rgb(58 79 123 / 20%) !important;

  .card-header{
    background: white;
    border-radius: 15px 15px 0px 0px;
  }

}

.btn-group{
  .btn-primary{
    background-color: rgba(58, 79, 123, 1);
    color: white;
    border: none;
    &:hover{
        background-color: #3DA888;
        color: white;
  }
  }
}

mat-paginator .mat-mdc-text-field-wrapper {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid;
}

mat-paginator .mdc-notched-outline {
  display: none;
}

.mat-mdc-tab-group {
  box-shadow: none;
  > .mat-mdc-tab-header {
      border: none;
      .mat-mdc-tab-list .mat-mdc-tab-labels {

        width: fit-content;
        
        .mdc-tab.mat-mdc-tab.mdc-tab--active.mdc-tab-indicator--active {
          background-color: white !important;
          border-radius: 15px 15px 0 0;
          border: 2px solid #e5e8f4;
        }
      }
  }
}

.btn-primary-custom{
  background-color: rgba(58, 79, 123, 1);
  border: none;
  border-radius: 10px;
  &:hover{
      background-color: rgb(224, 239, 243);
      color: rgba(58, 79, 123, 1);
  }
}

.input-group-text{
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.bs-datepicker{
  border-radius: 15px;
}

.theme-dark-blue .bs-datepicker-head {
  background-color: rgba(58, 79, 123, 1);
}

.form-select-sm option:hover {
  background-color: rgba(58, 79, 123, 1);
  color: #fff; 
}

.tooltip.show {
  opacity: 0.9;
  z-index: 99999999999 !important;
  position: relative;
}

.btn-barraMenu{
  background: transparent;
  border-color: transparent;
  color: white;

  span{
    margin-left: 5px;
  }

  &:hover{
    background-color: rgb(224, 239, 243);
    color: rgba(58, 79, 123, 1);
    border: none;
  }

}

.theme-green .bs-datepicker-head {
  background-color: rgba(58, 79, 123, 1);
}

.mat-tab-group-main-TabsAnidados {
  border: none !important;
  background: none !important;
  box-shadow: none !important;

  > .mat-mdc-tab-header {
    border-radius: 15px !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
    background-color: white !important;
    box-shadow: 0 0.5rem 1rem rgba(61, 168, 136, 0.2) !important;
    border: 2px solid rgba(61, 168, 136, 0.2) !important;

    .mat-mdc-tab-list .mat-mdc-tab-labels {

      width: 100%;

      .mdc-tab.mat-mdc-tab.mdc-tab--active.mdc-tab-indicator--active {
          background-color: #3da88875 !important;
          font-weight: bold !important;
          border: none !important;
          border-radius: 0 !important;
      }

      .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
          color: white !important;
      }
    }

  }

  .mat-tab-group-child {

    >  .mat-mdc-tab-header {
      background-color: white !important;
      border: 2px solid #e5e8f4 !important;
      border-radius: 10px !important;
    }

    .mat-mdc-tab-list .mat-mdc-tab-labels {

      width: 100% !important;

      .mdc-tab.mat-mdc-tab.mdc-tab--active.mdc-tab-indicator--active {
          background-color: white !important;
          border: none !important;
          border-radius: 0 !important;
      }
      
      .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
          color: rgba(58, 79, 123) !important;
      }

    }
  }

}

.modelo-tabla {
  overflow-x: auto;

  .mat-mdc-header-cell:first-child, .mat-mdc-cell:first-child {
    border-right: 2px solid #e5e8f4 !important;
    z-index: 3 !important;
    left: 0px !important;
  }

  .mat-mdc-header-cell:last-child, .mat-mdc-cell:last-child {
    border-left: 2px solid #e5e8f4 !important;
    z-index: 3 !important;
    right: 0px !important;
  }

  .mat-mdc-cell:not(:first-child) {
    margin-left: -2px !important;
  }

  .table-modelG {
    border-collapse: separate !important;
    border-spacing: 0 !important;
    width: -webkit-fill-available !important;

    .mdc-data-table__cell{
      overflow: visible;
    }

    th.mat-mdc-header-cell {
        
      .mat-sort-header-container {
        justify-content: center !important;
        .mat-sort-header-content {
          display: block !important;
          width: 100px !important;
        }
      }
    }
      
    td.mat-mdc-cell,
    th.mat-mdc-header-cell {
      text-align: center !important;
      padding-left: 0.35rem !important;
      padding-right: 0.35rem !important;
    }

  } 

}